<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
  <%- include('../../layout/header') %>
    <main>
    <ul>
          <li>
          <section>
                <%- include('./detail') %>
          </section>
          </li>
          <section class="section">
            <form action='/books' method="post" id="save">
              <h3>SAVE THE BOOK</h3>
              <label for="title">Title</label>
              <input type="text" name="title" value="<%= book.title %>" required>
              <label for="author">Author</label>
              <input type="text" name="author" value="<%= book.author %>" required>
              <label for="isbn">ISBN</label>
              <input type="text" name="isbn" value="<%= book.isbn %>">
              <label for="bookshelf">Bookshelf</label>
              <input type="text" name="bookshelf" value="<%= book.bookshelf %>">
              <label for="image_url">Book Cover</label>
              <input type="text" name="image_url" value="<%= book.image_url %>">
              <label for="description">Description</label>
              <input type="text" name="description" value="<%= book.description %>"></p>
              <button type="submit">SELECT THIS BOOK</button>
            </form>
          </section>

      </ul>
    </main>
    <%- include('../../layout/footer') %>
</body>
</html>