<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
  <%- include('../../layout/header') %>
    <main>
    <ul>
          <li>
          <section>
                <%- include('./detail') %>
          </section>
          </li>
          <section class="section" class="details">
            <button class="myBtn">UPDATE THIS BOOK</button>
            <div id="updateModal" class="modal">
              <div class="modal-content">
              <span class="close">&times;</span>
              <%- include('./edit') %>
              </div>
            </div>
          </section>

          <section class="section details">
            <%- include('../books/toSave', {book : book}) %>
          </section>

          <section class="section details">
            <form action='/book/<%= book.id %>?_method=DELETE' method="post" id="save">
              <button class="myBtn" type="submit">DELETE THIS BOOK</button>
            </form>
          </section>
          
          <!-- code for the popup form -->
          <script>
            var modal = document.getElementsByClassName("modal");
            var btn = document.getElementsByClassName("myBtn");
            var span = document.getElementsByClassName("close");
            for (let i = 0; i < modal.length; i++) {
              modal[i].style.display = "none";
            }
            console.log(btn)
            btn[0].onclick = function() {
              modal[0].style.display = "block";
            }
            btn[1].onclick = function() {
              modal[1].style.display = "block";
            }
            span[0].onclick = function() {
              modal[0].style.display = "none";
            }
            span[1].onclick = function() {
              modal[1].style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modal[0]) {
                modal[0].style.display = "none";
              } else if (event.target == modal[1]) {
                modal[1].style.display = "none";
              } else if (event.target == modal[2]) {
                modal[2].style.display = "none";
              }
            }
            </script>

      </ul>
    </main>
    <%- include('../../layout/footer') %>
</body>
</html>