<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
    <%- include('../../layout/header') %>
    <ul>
        <% bookList.forEach(book => { %>
            <li>
                <%- include('../books/detail', {book : book}) %>
                <%- include('../books/toSave', {book : book}) %>
            </li>
        <% }); %>
    </ul>
    <%- include('../../layout/footer') %>
</body>
</html>